@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(200, 221, 253);
}

header > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    text-align: center;
}


/* BUTTON START */

.container-top-class {
    margin: 30px 5px;
}

#button-start-id {
    padding: 10px;
    background-color: rgb(250, 144, 106);
    color: rgb(200, 221, 253);
    font-weight: bold;
    border: 2px solid rgb(250, 144, 106);
    cursor: pointer;
}

#button-start-id:hover {
    padding: 10px;
    color: rgb(250, 144, 106);
    background-color: rgb(200, 221, 253);
    font-weight: bold;
    border: 2px solid rgb(250, 144, 106);
    transition: background .4s;
}


/* CONTAINER BELLOW THE START AND ABOVE THE FOOTER*/

.container-hangman-class {
    display: block;
    text-align: right;
}


/* LETTERS */

.container-letter-class {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(3, 50px);
    justify-content: center;
    align-content: center;
    
}

.letter-class {
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    display: none;
}

.container-hangman-buttons-class {
    margin-top: 20px;
}

.letterJ-class {
    position: absolute;    
    background-color: lightgray;
    font-size: 30px;
    text-transform: uppercase;
    width: 60px;
    top: 343px;
    right: 130px;
}

.letterJ-class:hover {
    background-color: white;
    transition: background .4s;
}

.container-hangman-draw-id {
    position: absolute;
    left: 150px;
}


/* BUTTONS */

#insertLetter-button-id, #tipLetter-button-id {
    font-family: Arial, Helvetica, sans-serif;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

#insertLetter-button-id {
    background-color: rgb(121, 121, 252);
}

#insertLetter-button-id:hover {
    background-color: rgb(69, 69, 252);
    color: white;
    transition: background .4s;
}

#tipLetter-button-id {
    background-color: rgb(250, 129, 129);
}

#tipLetter-button-id:hover {
    background-color: rgb(252, 70, 70);
    color: white;
    transition: background .4s;
}


/* MESSENGER */
#container-hangman-messenger-id, #container-hangman-letterTyped-id { 
    text-align: left;
    margin: 20px 0px 0px 10px;
    font-weight: bold;
}

#container-hangman-letterTyped-id {
    margin-bottom: 20px;
}


/* DRAWING */

#background-draw-id {
    /*background-color: rgb(200, 221, 253);*/
    background-color: rgb(75, 129, 50);
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    left: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
}

#hanging-img-id {
    position: absolute;
    height: 300px;
    top: 500px;
    left: 30px;
}

#head-img-id {
    position: absolute;
    top: 570px;
    left: 245px;
}

#body-img-id {
    position: absolute;
    top: 630px;
    left: 279px;
}

#right-arm-img-id {
    position: absolute;
    top: 655px;
    left: 211px;
}

#left-arm-img-id {
    position: absolute;
    top: 648px;
    left: 293px;
}

#right-leg-img-id {
    position: absolute;
    top: 691px;
    left: 252px;
}

#left-leg-img-id {
    position: absolute;
    top: 701px;
    left: 288px;
}


/* FOOTER */

footer {
    background-color: rgb(250, 144, 106);    
    padding: 1px;
    text-align: center;
    font-style: italic;
}